<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dbteam4.booksale.repository.BookMapper">

    <insert id="save">
        insert into book(ISBN, title, author, publisher, pub_date, image, discount, description)
        values(#{ISBN}, #{title}, #{author}, #{publisher}, #{pubdate}, #{image}, #{discount}, #{description});
    </insert>

    <select id="findByISBN" resultType="Book">
        select * from book
        where ISBN =#{ISBN};
    </select>

    <select id="findAll" resultType="Map">
        SELECT b.ISBN, COUNT(p.post_id) AS post_count
        FROM book b LEFT JOIN post p ON b.ISBN = p.book_ISBN
        GROUP BY b.ISBN;
    </select>
</mapper>
