<div class = "account-logined" th:fragment="login-sidebar">
    <div class = "member-info" role="group">
        <div class = "member-detail">
            <div th:text="${session.loginUser.userName}">전강욱 님</div>
            <div>
                <span th:text="'현재 마일리지: ' + ${session.loginUser.mileage} + '   ('"></span>
                <span th:if="${session.loginUser.mileage >= 0 && session.loginUser.mileage < 10}">짐승</span>
                <span th:if="${session.loginUser.mileage >= 10 && session.loginUser.mileage <= 30}">노예</span>
                <span th:if="${session.loginUser.mileage > 30 && session.loginUser.mileage <= 50}">평민</span>
                <span th:if="${session.loginUser.mileage > 50 && session.loginUser.mileage <= 70}">귀족</span>
                <span th:if="${session.loginUser.mileage > 70 && session.loginUser.mileage <= 80}">왕</span>
                <span th:if="${session.loginUser.mileage > 80 && session.loginUser.mileage <= 90}">신의 대리인</span>
                <span th:if="${session.loginUser.mileage > 90 && session.loginUser.mileage <= 100}">절대신</span>
                <span th:text="')'"></span>
            </div>
            <div class="detail-img">
                <a href="alarm.html" th:href="@{/alarm}"><img class="bell-image" src="../img/bell2.png" th:src="@{/img/bell2.png}"></a>
                <a href="mail.html" th:href="@{/mail}"><img class="mail-image" src="../img/mail2.png" th:src="@{/img/mail2.png}"></a>
            </div>
        </div>
        <div class = "member-detail">
            <span class = "col"><a class="black" href = "user/userInfo.html" th:href="@{/user/info}">회원정보</a></span>
            <span class = "col"><a class="black" href="#" onclick="document.getElementById('logout').submit();">로그아웃</a></span>
        </div>
    </div>

    <a th:href="@{/post}"><div class = "post-button black">판매글 작성하기</div></a>
    <a th:href="@{/membertier}"><div class="post-button black">회원 등급 보기</div></a>

    <form id="logout" th:action="@{/user/logout}" method="POST">
        <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
    </form>
</div>
